SERIES DATA STRUCTURE:

In [ ]:
import pandas as pd
s = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print(s)
# Output:
# a    10
# b    20
# c    30
# dtype: int64

# FEATURES:
# HOMOGENOUS DATA TYPE 
# ECH ELEMENT IS ASSOCIATED WITH A INDEX LABEL
# CANNOT CHANGE LENGTH AFTER CREATION

DATA FRAME :

In [5]:
import pandas as pd 
data = {
    'Name': ['Steve', 'Lia', 'Vin', 'Katie'],
    'Age': [32, 28, 45, 38],
    'Gender': ['Male', 'Female', 'Male', 'Female'],
    'Rating': [3.45, 4.6, 3.9, 2.78]
}
df = pd.DataFrame(data)
print(df)

    Name  Age  Gender  Rating
0  Steve   32    Male    3.45
1    Lia   28  Female    4.60
2    Vin   45    Male    3.90
3  Katie   38  Female    2.78

In [8]:
import pandas as pd 
data = {
    'Name': ['Steve', 'Lia', 'Vin', 'Katie'],
    'Age': [32, 28, 45, 38],
    'Gender': ['Male', 'Female', 'Male', 'Female'],
    'Rating': [3.45, 4.6, 3.9, 2.78]
}
df = pd.DataFrame(data)
print(df['Name']) #ACCESSING A COLUMN -- RETURNS A SERIES 
print(df.iloc)
print(df)

0    Steve
1      Lia
2      Vin
3    Katie
Name: Name, dtype: object
<pandas.core.indexing._iLocIndexer object at 0x000001115D48F660>
    Name  Age  Gender  Rating
0  Steve   32    Male    3.45
1    Lia   28  Female    4.60
2    Vin   45    Male    3.90
3  Katie   38  Female    2.78

CREATING AN EMPTY SERIES :

In [9]:
import pandas as pd 
empty_series=pd.Series()
print(empty_series)

Series([], dtype: object)

conversion of an array directly to a series:

In [2]:
import numpy as np
import pandas as pd

arr = np.array(['a', 'b', 'c'])
series_from_ndarray = pd.Series(arr)
print(series_from_ndarray)

0    a
1    b
2    c
dtype: object

CREATING SERIES FROM DICTIONARY :

In [4]:
data_dict = {'a': 10, 'b': 20, 'c': 30}
series_from_dict = pd.Series(data_dict)
print(series_from_dict)

a    10
b    20
c    30
dtype: int64

WE CAN SPECIFY INDEX FOR A VALUE SPECIFICALLY :

In [5]:
scalar_series = pd.Series(5, index=['a', 'b', 'c'])
print(scalar_series)

a    5
b    5
c    5
dtype: int64

.iloc[]:TO ACCESS ELEMENTS BY SPECIFYING INDEXING -->

In [ ]:
s = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print(s.loc['a'])  # Output: 10 #.loc[]: ACCESSING BY LABELS THE VALUES: 
print(s.iloc[1])  # Output: 20

10
20

EMPTY DATA FRAME :

In [8]:
import pandas as pd

df_empty = pd.DataFrame()
print(df_empty)

Empty DataFrame
Columns: []
Index: []

In [10]:
import pandas as pd
data = [["Spark", 20000, "30days"],
        ["Pandas", 25000, "40days"]]

df = pd.DataFrame(data, columns=["Courses", "Fee", "Duration"],index=["a", "b"])
print(df)

  Courses    Fee Duration
a   Spark  20000   30days
b  Pandas  25000   40days

In [ ]:
#FROM DICTIONARY OF NDARRAYS :

In [11]:
data_dict = {
    'Courses': ["Spark", "Pandas"],
    'Fee': [20000, 25000],
    'Duration': ['30days', '40days']
}

df = pd.DataFrame(data_dict)
print(df)

  Courses    Fee Duration
0   Spark  20000   30days
1  Pandas  25000   40days

LIST OF DICTIONARIES :

In [12]:
data_list_dicts = [
    {'Courses': 'Spark', 'Fee': 20000, 'Duration': '30days'},
    {'Courses': 'Pandas', 'Fee': 25000, 'Duration': '40days'}
]

df = pd.DataFrame(data_list_dicts)
print(df)

  Courses    Fee Duration
0   Spark  20000   30days
1  Pandas  25000   40days

In [15]:
courses = pd.Series(["Spark", "Pandas"], index=['r1', 'r2'])
fees = pd.Series([20000, 25000], index=['r1', 'r2'])
duration = pd.Series(['30days', '40days'], index=['r1', 'r2'])

df = pd.concat({'Courses': courses, 'Course_Fee': fees, 'Course_Duration': duration}, axis=1)
print(df)

   Courses  Course_Fee Course_Duration
r1   Spark       20000          30days
r2  Pandas       25000          40days

Select column	                 df['col'] or df[['col1', 'col2']]--df['Courses']
Add column	                     df['new_col'] = values	--df['Discount'] = [1000][1500]
Delete column	                 del df['col'] or df.drop('col', axis=1)--df = df.drop('Discount', axis=1)
Select row	                     df.loc[label] or df.iloc[pos]--	df.loc['r1']
Add row	                         df.loc[new_label] = [...] or pd.concat()--	df.loc['r3'] = [...]
Delete row	                     df.drop(label)	--df = df.drop('r3')

CREATE DATA FRAME :

In [16]:
import pandas as pd
data = {"calories": [420, 380, 390], "duration": [50, 40, 45]}
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

REINDEXING :

In [ ]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['x', 'y', 'z'])
new_df = df.reindex(['x', 'y', 'a', 'b'])
print(new_df)
new_1=df.reindex(['x', 'y', 'a'], fill_value=0) #FILLING A SPECIFIC VALUE 
print(new_1)

     A    B
x  1.0  4.0
y  2.0  5.0
a  NaN  NaN
b  NaN  NaN
   A  B
x  1  4
y  2  5
a  0  0

Change index/columns 	reindex()	      Add/reorder rows/columns, fill missing with NaN or value
Fill missing values 	fill_value, method	  Fill with value or use ffill/bfill
Limit fills	             limit	                Max consecutive fills
Align with other object	 reindex(other.index)	Match index/columns to another object
Rename labels	        rename()	Change names, does not add/remove rows/cols

FILLING MISSING DATA:

In [ ]:
df.fillna(0)  # Replace NaN with 0
df.fillna(method='ffill')  # Forward fill: propagate last valid value forward
df.fillna(method='bfill')  # Backward fill: use next valid value backward